#
# these are the entries for the various types of services.
#
# socket stream service examples
#
#	service start
#	name = lnbmihost
#	type = socket_stream
#	service = lnbmihost
#	accept_handler = socket_stream_accept_handler
#	io_handler = socket_stream_io_handler
#	service_handler = socket_stream_service_handler
#	host_name = LNB
#	service end
#
#	service start
#	name = lnbmihost
#	type = socket_stream
#	port = 58001
#	accept_handler = socket_stream_accept_handler
#	io_handler = socket_stream_handler
#	service_handler = socket_stream_handler
#	host_name = LNB
#	service end
#

service start
name = socket-stream-echo
type = socket_stream
service = my-echo
io_handler = socket_stream_accept_io_handler
service_handler = socket_stream_accept_service_handler
client_io_handler = socket_stream_io_handler
client_service_handler = socket_stream_service_handler
host_name = localhost
service end

service start
name = socket-datagram-echo
type = socket_datagram
service = my-echo
io_handler = socket_datagram_io_handler
service_handler = socket_datagram_service_handler
host_name = localhost
service end

# service start
# name = unix-stream-echo
# type = unix_stream
# file_name = /tmp/stream-my-echo
# io_handler = unix_stream_accept_io_handler
# service_handler = unix_stream_accept_service_handler
# client_io_handler = unix_stream_io_handler
# client_service_handler = unix_stream_service_handler
# host_name = localhost
# service end

# service start
# name = udp-echo
# type = unix_datagram
# file_name = /tmp/datagram-my-echo
# io_handler = unix_datagram_io_handler
# service_handler = unix_datagram_service_handler
# host_name = localhost
# service end

# service start
# name = lnbmihost
# type = socket_stream
# service = lnbmihost
# io_handler = socket_stream_handler
# host_name = LNB
# service end
# 
# service start
# name = lnbcvthost
# type = socket_stream
# service = lnbcvthost
# io_handler = socket_stream_handler
# host_name = LNB
# service end
# 
# service start
# name = lnblmhost
# type = socket_stream
# service = lnblmhost
# io_handler = socket_stream_handler
# host_name = LNB
# service end
# 
# service start
# name = lnbspmihost
# type = socket_stream
# service = lnbspmihost
# io_handler = socket_stream_handler
# host_name = LNB
# service end
# 
# service start
# name = lnbspcvthost
# type = socket_stream
# service = lnbspcvthost
# io_handler = socket_stream_handler
# host_name = LNB
# service end

# service start
# name = echo-server
# type = socket_stream
# port = 20000
# client_handler = tcp_echo_handler
# service end

# service start
# name = pt200-1-tcp
# type = socket_stream
# port = 8001
# client_handler = socket_stream_handler
# service end

# service start
# name = miscan-1-tcp
# type = socket_stream
# port = 20301
# service end

# service start
# name = pt200-1-udp
# type = socket_dgram
# port = 8001
# service end
# 
# service start
# name = miscan-1-udp
# type = socket_dgram
# port = 20301
# service end
# 
# service start
# name = pt200-1-unix-stream
# type = unix_stream
# file_name = /tmp/pt200-1-unix-stream
# service end
# 
# service start
# name = pt200-1-unix-dgram
# type = unix_dgram
# file_name = /tmp/pt200-1-unix-dgram
# service end
# 
