<?xml version="1.0" encoding="UTF-8"?>
	<root>
		<Header>
			<SystemName>
				OTHERSYSTEM
			</SystemName>
			<SystemVersion>
				1.00
			</SystemVersion>
			<SessionId>
				58628
			</SessionId>
			<CommandName>
				ProgramDataSend
			</CommandName>
		</Header>
		<ProgramDataSend>
			<Element>
				<Date>
					2017/03/23,00:00:45
				</Date>
				<MCNo>
					1
				</MCNo>
				<Stage>
					1
				</Stage>
				<Lane>
					1
				</Lane>
				<MjsFileName>
					C03
				</MjsFileName>
				<MjsGroupName>
					1
				</MjsGroupName>
				<LotName>
					NPMW-C1
				</LotName>
				<LotNumber>
					1
				</LotNumber>
				<LotName2>
				</LotName2
				><LotNumber2>
					0
				</LotNumber2>
				<Rev>
					1
				</Rev>
			</Element>
		</ProgramDataSend>
	</root>

<?xml version="1.0" encoding="UTF-8"?>
	<root>
		<Header>
			<CommandName>
				ProgramDataSend
			</CommandName>
			<SystemName>
				OTHERSYSTEM
			</SystemName>
			<SystemVersion>
				1.00
			</SystemVersion>
			<SessionId>
				58628
			</SessionId>
			<ConnectOption>
				0
			</ConnectOption>
			<ResultCode>
				0
			</ResultCode>
		</Header>
	</root>

